<div class="jumbotron">

    <h1>Tic Tac Toe Game</h1>

    <p class="lead">A tic-tac-toe game with 3 play modes.</p>

    <p class="lead">Only registered users can play</p>
    
    <p>
        @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { @id = "registerLink", @class = "btn btn-primary btn-lg" })
    </p>
    
    <p>
        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { @id = "loginLink", @class = "btn btn-primary btn-lg" })
    </p>

</div>