<style>
    #computer-vs-computer-main-menu-title {
        text-align: center;
    }

    #computer-vs-computer-main-menu {
        width: 230px;
        text-align: center;
        margin-top: 2%;
        margin-left: 40%;
    }

    .menu-option {
        width: 100%;
        margin-top: 3%;
    }
</style>

<h2 id="computer-vs-computer-main-menu-title">Computer vs Computer</h2>

<div id="game-container">

    @using (Ajax.BeginForm("NewGame", "ComputerVsComputer", null, new AjaxOptions()
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "game-container"
    }))
    {
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-primary btn-lg menu-option">Start New Game</button>
        @Html.ActionLink("Back to home", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-lg menu-option" })
    }
</div>