<style>
    #computer-vs-computer-main-menu-title {
        text-align: center;
    }

    #computer-vs-computer-main-menu {
        width: 230px;
        text-align: center;
        margin-top: 2%;
        margin-left: 40%;
    }

    .menu-option {
        width: 100%;
        margin-top: 3%;
    }
</style>

<h2 id="computer-vs-computer-main-menu-title">Computer vs Computer</h2>

<div id="computer-vs-computer-main-menu">
    @Html.ActionLink("Start New Game", "NewGame", "ComputerVsComputer", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-lg menu-option" })

    @Html.ActionLink("Load Game", "LoadGame", "ComputerVsComputer", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-lg menu-option" })

    @Html.ActionLink("Back to home", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-lg menu-option" })
</div>
