<h2 id="human-vs-human-main-menu-title">Human vs Human</h2>

<div id="human-vs-human-main-menu">
    @Html.ActionLink("Start New Game", "NewGame", "HumanVsHuman", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-lg menu-option" })

    @Html.ActionLink("Load Game", "LoadGame", "HumanVsHuman", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-lg menu-option" })

    @Html.ActionLink("Back to home", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-lg menu-option" })
</div>