#start-new-game-button {
    margin-left: 42%;
    width: 16%;
}

#turn-dropdown-container {
    width: 27%;
    text-align: center;
    margin-left: 36%;
}

#turn-dropdown {
    width: 67%;
    margin-left: 2%;
    font-weight: bold;
}

#validation-message {
    margin-left: 4%;
    font-weight: bold;
}

#first-column, #second-column, #third-column {
    display: inline-flex;
}

.red {
    color: red;
    font-weight: bold;
}

.blue {
    color: blue;
    font-weight: bold;
}

#first-column > div {
    border: 1px solid black;
    width: 125px;
    height: 125px;
}

#second-column > div {
    border: 1px solid black;
    width: 125px;
    height: 125px;
}

#third-column > div {
    border: 1px solid black;
    width: 125px;
    height: 125px;
}

#grid-container {
    margin-top: -3%;
    margin-left: 3.5%;
}

#home-side-container, #grid-container {
    float: left;
    width: 30%;
}

#away-side-container {
    text-align: center;
    font-weight: bold;
}

#home-side-container {
    text-align: center;
    font-weight: bold;
}

#turn-container {
    text-align: center;
    font-weight: bold;
    margin-bottom: 5%;
}

#back-to-main-menu-button {
    float: left;
    clear: both;
    margin-left: 41%;
    width: 18%;
    margin-top: 3%;
}

#turn-info {
    font-weight: bold;
}

.tile {
    font-weight: bold;
    font-size: 90px;
    padding-left: 9%;
}