#back-to-main-menu-button {
    margin-left: 42%;
}

#start-new-game-button {
    margin-left: 42%;
    width: 16%;
}

#sides-dropdown-container, #oponent-dropdown-container {
    width: 27%;
    text-align: center;
    margin-left: 36%;
}

#sides-dropdown, #oponents-dropdown {
    width: 67%;
    margin-left: 2%;
    font-weight: bold;
}

#validation-message {
    margin-left: 4%;
    font-weight: bold;
}